.flex {
  display: flex;
}

.flex-lr {
  flex-direction: row;
}

.flex-rl {
  flex-direction: row-reverse;
}

.flex-tb {
  flex-direction: column;
}

.flex-bt {
  flex-direction: column-reverse;
}

.flex-pack-center {
  justify-content: center;
}

.flex-pack-start {
  justify-content: flex-start;
}

.flex-pack-end {
  justify-content: flex-end;
}

.flex-pack-between {
  justify-content: space-between;
}

.flex-pack-around {
  justify-content: space-around;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-center-center {
  align-items: center;
  justify-content: center;
}

.self-align-center {
  align-self: center;
  margin: 0 auto;
}

.self-align-start {
  align-self: flex-start;
}

.self-align-end {
  align-self: flex-end;
}

.self-align-stretch {
  align-self: stretch;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-1 {
  flex: 1;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}
